    <img id="img" class="img-responsive center-block" src="../../assets/images/img_portada.png" alt="Imagen Portada">

    <div class="jumbotron">
      <h3>{{titulo}}</h3>

      <p>
        POP Framework es un conjunto de técnicas, métodos y herramientas que, combinadas todas ellas, permiten escoger que temática es
        más apropiada a la hora de publicar en portales de datos abiertos en función del criterio de rentabilidad que se quiera
        obtener. Para ello, se realiza una búsqueda y catalogación de conjuntos de datos en portales de datos abiertos en SmartCities y,
        atendiendo al criterio que se pretenda maximizar, se realizan cálculos para, a partir de los datos catalogatos obtenidos de las
        anteriores SmartCities, ofrecer una ayuda a la hora de tomar la decisión final. Si quieres saber más, pulsa <a [routerLink]="['/ajfas']" class="button">aquí</a>
        para conocer a fondo qué es POP Framework o accede a al sección información.

    </div>


