#ejecucion{
    font-size: 20px;
  }
  
  #select_ejecucion{
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  #info h3{
    text-align: left;
  }
  
  #cell-disabled{
    background: #CCCCCC;
  }
  #fullCell{
    text-align-last: center;
    width: 100%;
  }
  
  #table_row{
    width:  70% !important;
  
  }
  
  #table_column{
    width:10% !important;
  }