<div id="ejecucion" class="text-justify">

  <h3>{{titulo}}</h3>

  <p>You can then choose one of the two available execution modes:</p>
  <ol>
    <li>
      <strong>Fast: </strong>Perform the calculation from the categorization of preloaded datasets. (This method is less exhaustive
      but its execution time is faster)
    </li>
    <li>
      <strong>Deep: </strong>First, it performs the calculations for the categorization of datasets and later, After selecting the
      indicators, perform the calculations to show the optimal options. (This method, despite be more exhaustive, it has
      a much higher execution time
    </li>
  </ol>

  <p>Select one of the two methods: </p>

</div>

<div id="select_ejecucion">

  <button class="btn btn-info" (click)="selectMetodo('rapido')">Fast method</button>
  <button class="btn btn-info" (click)="selectMetodo('profundo')">Deep method</button>
</div>

<div>

  <h3 *ngIf="metodo == 'rapido'">Fast method</h3>
  <h3 *ngIf="metodo == 'profundo'">Deep method</h3>

  <div class="loadingAction" *ngIf="cargando">
    <p-progressSpinner class="text-center"></p-progressSpinner>
    <h4 class="text-center">Loading, please wait...</h4>
  </div>

  <table *ngIf="!cargando" class="table table-bordered text-center">
    <ng-container *ngFor="let fila of reciprocalMatrix; let i = index">
      <tr *ngIf="i == '0'">
        <th></th>
        <th class="background_blue">Efficiency</th>
        <th class="background_blue">Size of community</th>
        <th class="background_blue">Involvement</th>
        <th class="background_blue">Reputation</th>
        <th class="background_blue">Maturity</th>
      </tr>


      <tr *ngIf="i == 0">
        <th class="background_blue">Efficiency</th>
        <ng-container *ngFor="let opciones of fila; let j = index">
          <th *ngIf="opciones.id<=i">
            {{opciones.value}}
          </th>
          <ng-container *ngIf="j>i">
            <th>
              <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                <option *ngFor="let values of selectOptions">
                  {{values }}
                </option>
              </select>
            </th>
          </ng-container>

        </ng-container>


      </tr>

      <tr *ngIf="i == '1'">
        <th class="background_blue">Size of community</th>
        <ng-container *ngFor="let opciones of fila; let j = index">
          <th *ngIf="opciones.id <= i">
            {{opciones.value}}
          </th>
          <ng-container *ngIf="j>i">
            <th>
              <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                <option *ngFor="let values of selectOptions">
                  {{values}}
                </option>
              </select>
            </th>
          </ng-container>
        </ng-container>

      </tr>

      <tr *ngIf="i == '2'">
        <th class="background_blue">Involvement</th>
        <ng-container *ngFor="let opciones of fila; let j = index">
          <th *ngIf="opciones.id <= i">
            {{opciones.value }}
          </th>
          <ng-container *ngIf="j>i">
            <th>
              <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                <option *ngFor="let values of selectOptions, let k = index">
                  {{values}}
                </option>
              </select>
            </th>
          </ng-container>
        </ng-container>

      </tr>

      <tr *ngIf="i == '3'">
        <th class="background_blue">Reputation</th>
        <ng-container *ngFor="let opciones of fila; let j = index">
          <th *ngIf="opciones.id <= i">
            {{opciones.value}}
          </th>
          <ng-container *ngIf="j>i">
            <th>
              <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                <option *ngFor="let values of selectOptions, let k = index">
                  {{values}}
                </option>
              </select>
            </th>
          </ng-container>
        </ng-container>

      </tr>

      <tr *ngIf="i == '4'">
        <th class="background_blue">Maturity</th>
        <ng-container *ngFor="let opciones of fila; let j = index">
          <th *ngIf="opciones.id <= i">
            {{opciones.value}}
          </th>
          <ng-container *ngIf="j>i">
            <th>
              <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                <option *ngFor="let values of selectOptions, let k = index">
                  {{values}}
                </option>
              </select>
            </th>
          </ng-container>
        </ng-container>

      </tr>
    </ng-container>


  </table>

  <div class="panel panel-success" *ngIf="consistencia<=10 && mostrarBotonCalculo">
    <div class="panel-heading">Consistency</div>
    <div class="panel-body">
      The consistency ratio is {{consistencia}}%. Keep it below 10%
    </div>
  </div>

  <div class="panel panel-danger" *ngIf="consistencia>10 && mostrarBotonCalculo">
    <div class="panel-heading">Consistency</div>
    <div class="panel-body">The consistency ratio is {{consistencia}}%. Keep it below 10%</div>
  </div>


  <div id="select_ejecucion" *ngIf="mostrarBotonCalculo">

    <button class="btn btn-info" (click)="calcularResultados()">Calculate results</button>
  </div>


  <table *ngIf="mostrarResultados" class="table table-bordered text-center">
    <ng-container *ngFor="let res of resultadoObject; let i = index">

      <tr *ngIf="i==0">
        <th class="background_blue">Results</th>
        <th class="background_blue">Value</th>
      </tr>

      <tr *ngIf="i==0">
        <th>1 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==1">
        <th>2 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==2">
        <th>3 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==3">
        <th>3 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==4">
        <th>4 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==5">
        <th>5 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==6">
        <th>6 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==7">
        <th>7 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==8">
        <th>8 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==9">
        <th>9 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==10">
        <th>10 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==11">
        <th>11 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==12">
        <th>12 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

      <tr *ngIf="i==13">
        <th>13 - {{res.id}}</th>
        <th>{{res.value}}</th>
      </tr>

    </ng-container>


  </table>

</div>
