<div class="container-fluid col-lg-12">

  <header id="header" class="col-lg-12">
    {{titulo}}
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li><a [routerLink]="['/info']" [routerLinkActive]="['activado']">Information</a></li>
      <li><a [routerLink]="['/ejecucion']" [routerLinkActive]="['activado']">Execution</a></li>
    </ul>

  </nav>

  <section id="section" class="col-lg-10 col-lg-offset-1">

      <div><router-outlet></router-outlet></div>


  </section>


  <footer id="footer" class="col-lg-12">
    Juan Luis Fragoso del Rey - Grado en Ingeniería Informática en Ingenieria del Software - Trabajo Fin de Grado - Universidad de Extremadura

  </footer>
</div>
