<div id="ejecucion" class="text-justify">

  <h3>{{titulo}}</h3>

  <p>A continuación puede elegir uno de los dos modos de ejecución disponibles:</p>
  <ol>
    <li><strong>Rápido: </strong>Realiza el cálculo a partir de la categorización de datasets precargada. (Este método
      es menos exhaustivo pero
      su tiempo de ejecución es más rápido)
    </li>
    <li><strong>Profundo: </strong>En primer lugar realiza los cálculos para la categorización de datasets y
      posteriormente, tras seleccionar los indicadores,
      realiza los cálculos para mostrar las opciones óptimas. (Este método, a pesar de ser más exhaustivo, tiene un
      tiempo de ejecución mucho más elevado
    </li>
  </ol>

  <p>Seleccione uno de los dos métodos: </p>

</div>

<div id="select_ejecucion">

  <button class="btn btn-info" (click)="selectMetodo('rapido')">Método Rápido</button>
  <button class="btn btn-info" (click)="selectMetodo('profundo')">Método Profundo</button>
</div>

<div *ngIf="metodo == 'rapido'">

  <h3>Ejecución Rapida</h3>

  <table class="table table-bordered text-center">
    <ng-container *ngFor="let fila of reciprocalMatrix; let i = index">
      <tr *ngIf="i == '0'">
        <th></th>
        <th>Eficiencia</th>
        <th>Tamaño de la Comunidad</th>
        <th>Involucramiento</th>
        <th>Reputacion</th>
        <th>Madurez</th>
      </tr>


      <tr *ngIf="i == 0">
        <th>Eficiencia</th>
        <ng-container *ngFor="let opciones of fila; let j = index">
          <th *ngIf="opciones.id<=i">
            {{opciones.value | fraction}}
          </th>
          <ng-container *ngIf="j>i">
            <th>
              <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                <option *ngFor="let values of selectOptions">
                  {{values}}
                </option>
              </select>
            </th>
          </ng-container>

        </ng-container>


      </tr>

      <tr *ngIf="i == '1'">
        <th>Tamaño de la Comunidad</th>
        <ng-container *ngFor="let opciones of fila; let j = index">
          <th *ngIf="opciones.id <= i">
            {{opciones.value | fraction}}
          </th>
          <ng-container *ngIf="j>i">
            <th>
              <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                <option *ngFor="let values of selectOptions">
                  {{values}}
                </option>
              </select>
            </th>
          </ng-container>
        </ng-container>

      </tr>

      <tr *ngIf="i == '2'">
          <th>Involucramiento</th>
          <ng-container *ngFor="let opciones of fila; let j = index">
            <th *ngIf="opciones.id <= i">
              {{opciones.value | fraction}}
            </th>
            <ng-container *ngIf="j>i">
              <th>
                <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                  <option *ngFor="let values of selectOptions, let k = index">
                    {{values}}
                  </option>
                </select>
              </th>
            </ng-container>
          </ng-container>
  
        </tr>

        <tr *ngIf="i == '3'">
            <th>Reputacion</th>
            <ng-container *ngFor="let opciones of fila; let j = index">
              <th *ngIf="opciones.id <= i">
                {{opciones.value | fraction}}
              </th>
              <ng-container *ngIf="j>i">
                <th>
                  <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                    <option *ngFor="let values of selectOptions, let k = index">
                      {{values}}
                    </option>
                  </select>
                </th>
              </ng-container>
            </ng-container>
    
          </tr>

          <tr *ngIf="i == '4'">
              <th>Madurez</th>
              <ng-container *ngFor="let opciones of fila; let j = index">
                <th *ngIf="opciones.id <= i">
                  {{opciones.value | fraction}}
                </th>
                <ng-container *ngIf="j>i">
                  <th>
                    <select [(ngModel)]="reciprocalMatrix[i][j].value" (ngModelChange)="changeValue(i, j, $event)">
                      <option *ngFor="let values of selectOptions, let k = index">
                        {{values}}
                      </option>
                    </select>
                  </th>
                </ng-container>
              </ng-container>
      
            </tr>
    </ng-container> 


  </table>

  <div class="panel panel-success">
    <div class="panel-heading">Consistencia</div>
    <div class="panel-body">El ratio de consistencia es de 0%. Mantengalo por debajo del 10%</div>
  </div>

</div>

