<div id="info">

  <ul class="list-group">

    <li class="list-group-item">
      <h3 class="text-justify">{{titulo}}</h3>

      <p class="text-justify">

        POP Framework is a set of methods, techniques and tools that, combined, will provide CDOs with the appropriate choice of
        the data sets to be published in portals of open data. In this project, we intend to apply this Framework to the
        field of portals Open Data of Smart Cities. It can be considered that POP Framework is divided into 3 parts or sections:

      </p>
      <ol>
        <li>Selection and categorization of Datasets</li>
        <li>Establishment of indicators</li>
        <li>Calculation of priorities</li>
      </ol>
    </li>
    <li class="list-group-item">
      <h3>Selection and categorization of Datasets</h3>
      <p class="text-justify">
        We currently have 8960 Data Sets records extracted from GitHub, belonging to the main United States cities. To categorize
        it into different categories, a semantic comparison is made between the topics of each record with each of the 14
        categories, so that each record will be classified in one of these categories, or in the category "Other" if it does
        not meet a minimum of semantic relationship with the mentioned categories.

      </p>
    </li>
    <li class="list-group-item">
      <h3>Establishment of indicators</h3>
      <p class="text-justify">

        Once the 8960 records have been categorized, a database view is created that allows the establishment of the indicators needed
        to perform the subsequent method (AHP method). In case of performing the Fast execution mode, these indicators are
        preloaded, but may not offer real information with previously categorized categories, but can offer an approximate
        view of the result.

      </p>
    </li>
    <li class="list-group-item">
      <h3>Calculation of priorities</h3>
      <p class="text-justify">
        To obtain the desired priorities, it is carried out in the AHP method with the indicators obtained previously. The establishment
        of priorities must be coherent, indicating the criterion of consistency in real time (currently established at 10%).
        Once the priorities are established, the AHP method is carried out and the theme is shown convenient according to
        the desired priorities.

      </p>
    </li>
  </ul>




</div>
