<div id="info">

  <ul class="list-group">

    <li class="list-group-item">
      <h3 class="text-justify">{{titulo}}</h3>

      <p class="text-justify">
    POP Framework es un conjunto de métodos, técnicas y herramientas que, combinadas,
    facilitarán a los CDOs la elección apropiada de los conjuntos de datos a publicar en portales de
    datos abiertos. En este proyecto se pretende aplicar este Framework al ámbito de los portales
    Open Data de las Smart Cities. Se puede considerar que POP Framework está divido en 3 partes o secciones:

    </p>
    <ol>
      <li>Selección y categorización de Datasets</li>
      <li>Establecimiento de indicadores</li>
      <li>Cálculo de prioridades</li>
    </ol>
    </li>
    <li class="list-group-item"><h3>Selección y categorización de Datasets</h3></li>
    <li class="list-group-item"><h3>Establecimiento de indicadores</h3></li>
    <li class="list-group-item"><h3>Cálculo de prioridades</h3></li>
  </ul>




</div>
